html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.menu{
  width: 100%;
  height: 100px;
  display: block;
  background-color: #F8991B;
}


      .ah{
        float: left;
        margin-left: 5%;
        margin-top: 10px;
        -webkit-animation: bounceInDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
               -moz-animation: bounceInDown 1.5s; /* Firefox < 16 */
                -ms-animation: bounceInDown 1.5s; /* Internet Explorer */
                 -o-animation: bounceInDown 1.5s; /* Opera < 12.1 */
                    animation: bounceInDown 1.5s;
      }

      .logo{
        margin-left: 20%;
        -webkit-animation: bounceInDown 1s; /* Safari, Chrome and Opera > 12.1 */
               -moz-animation: bounceInDown 1s; /* Firefox < 16 */
                -ms-animation: bounceInDown 1s; /* Internet Explorer */
                 -o-animation: bounceInDown 1s; /* Opera < 12.1 */
                    animation: bounceInDown 1s;
      }
      .download{
        float: right;
        margin-top: 25px;
        margin-right: 5%;
        background-color: #FBB55F; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        -webkit-animation: bounceInDown 1.5s; /* Safari, Chrome and Opera > 12.1 */
               -moz-animation: bounceInDown 1.5s; /* Firefox < 16 */
                -ms-animation: bounceInDown 1.5s; /* Internet Explorer */
                 -o-animation: bounceInDown 1.5s; /* Opera < 12.1 */
                    animation: bounceInDown 1.5s;
      }
.download:hover{
  cursor: pointer;
  background-color: #F8991B; /* Orange */
}
.apps{
  margin: 0 auto;
  margin-top: 50px;
  width: 75%;
  border-radius: 5px;
  height: auto;
}

.innerApps{
  width: 100%;
  background-color: white;
  margin-bottom: 40px;
  box-shadow: 1px 1px 10px #888888;
}

.first{
  -webkit-animation: fadeInUp 1s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeInUp 1s; /* Firefox < 16 */
          -ms-animation: fadeInUp 1s; /* Internet Explorer */
           -o-animation: fadeInUp 1s; /* Opera < 12.1 */
              animation: fadeInUp 1s;
}

.second{
  -webkit-animation: fadeInUp 1.3s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeInUp 1.3s; /* Firefox < 16 */
          -ms-animation: fadeInUp 1.3s; /* Internet Explorer */
           -o-animation: fadeInUp 1.3s; /* Opera < 12.1 */
              animation: fadeInUp 1.3s;
}

.third{
  -webkit-animation: fadeInUp 1.6s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeInUp 1.6s; /* Firefox < 16 */
          -ms-animation: fadeInUp 1.6s; /* Internet Explorer */
           -o-animation: fadeInUp 1.6s; /* Opera < 12.1 */
              animation: fadeInUp 1.6s;
}

.fourth{
  -webkit-animation: fadeInUp 1.9s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeInUp 1.9s; /* Firefox < 16 */
          -ms-animation: fadeInUp 1.9s; /* Internet Explorer */
           -o-animation: fadeInUp 1.9s; /* Opera < 12.1 */
              animation: fadeInUp 1.9s;
}

.fifth{
  -webkit-animation: fadeInUp 2.2s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeInUp 2.2s; /* Firefox < 16 */
          -ms-animation: fadeInUp 2.2s; /* Internet Explorer */
           -o-animation: fadeInUp 2.2s; /* Opera < 12.1 */
              animation: fadeInUp 2.2s;
}

.sixth{
  -webkit-animation: fadeInUp 2.5s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeInUp 2.5s; /* Firefox < 16 */
          -ms-animation: fadeInUp 2.5s; /* Internet Explorer */
           -o-animation: fadeInUp 2.5s; /* Opera < 12.1 */
              animation: fadeInUp 2.5s;
}

.seventh{
  -webkit-animation: fadeInUp 2.8s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeInUp 2.8s; /* Firefox < 16 */
          -ms-animation: fadeInUp 2.8s; /* Internet Explorer */
           -o-animation: fadeInUp 2.8s; /* Opera < 12.1 */
              animation: fadeInUp 2.8s;
}

.eighth{
  -webkit-animation: fadeInUp 3.1s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeInUp 3.1s; /* Firefox < 16 */
          -ms-animation: fadeInUp 3.1s; /* Internet Explorer */
           -o-animation: fadeInUp 3.1s; /* Opera < 12.1 */
              animation: fadeInUp 3.1s;
}

.firstFade{
  -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeIn 1s; /* Firefox < 16 */
          -ms-animation: fadeIn 1s; /* Internet Explorer */
           -o-animation: fadeIn 1s; /* Opera < 12.1 */
              animation: fadeIn 1s;
}

.secondFade{
  -webkit-animation: fadeIn 1.5s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeIn 1.5s; /* Firefox < 16 */
          -ms-animation: fadeIn 1.5s; /* Internet Explorer */
           -o-animation: fadeIn 1.5s; /* Opera < 12.1 */
              animation: fadeIn 1.5s;
}

.thirdFade{
  -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeIn 2s; /* Firefox < 16 */
          -ms-animation: fadeIn 2s; /* Internet Explorer */
           -o-animation: fadeIn 2s; /* Opera < 12.1 */
              animation: fadeIn 2s;
}

.fourthFade{
  -webkit-animation: fadeIn 2.5s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadeIn 2.5s; /* Firefox < 16 */
          -ms-animation: fadeIn 2.5s; /* Internet Explorer */
           -o-animation: fadeIn 2.5s; /* Opera < 12.1 */
              animation: fadeIn 2.5s;
}

.images{
  float: left;
  height: 175px;
  width: 175px;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 40px;
}
p{
    padding-right: 70px;
    padding-left: 70px;
    color: #443235;
    font-family: "DomaineText",Georgia,serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
}

ul{
  margin-left: 10%;
}
hr{
  width:90%;
}
.buttons:hover{
  cursor: pointer;
}
.buttons{
  display: inline-block;
  width: 20%;
  height: 20%;
  margin-left: 20%;
  margin-bottom: 10%;
}
.back{
  margin-top: 60px;
  margin-left: 10%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.bottom{
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #D8D8D8;
  color: white;
}
.bottom p{
  margin-left: 35%;
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes bounceInDown {
       from, 60%, 75%, 90%, to {
         animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
       }
       0% {
         opacity: 0;
         transform: translate3d(0, -3000px, 0);
       }
       60% {
         opacity: 1;
         transform: translate3d(0, 25px, 0);
       }
       75% {
         transform: translate3d(0, -10px, 0);
       }
       90% {
         transform: translate3d(0, 5px, 0);
       }
       to {
         transform: none;
       }
     }
     .bounceInDown {
       animation-name: bounceInDown;
     }

@media screen and (max-width: 480px){
  html{
    height: 100%;
  }
  .logo{
    visibility: hidden;
  }
  .download{
    visibility: hidden;
  }

  .apps{
    overflow: auto;
  }

  .innerApps{
        box-shadow: 1px 7px 14px 0px #888888;
  }
  
  .buttons {
    float: left;
    width: 80%;
    margin-left: 10% !important;
  }

  .ahs{
    margin-left: 10% !important;
    margin-right: 20% !important;
  }

  p{
    padding-left: 5px;
  }

  .bottom p{
    color: white;
    padding-left: 0px;
    font-size: 15px;
    margin-left: 25%;
  }
}
