.img1{
  height:30%;

  padding-left: 10px;
  padding-right: 40px;
}

p{
  padding-right: 70px;
  padding-left: 70px;
  color: #443235;
  font-family: "DomaineText",Georgia,serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

p.last{
  padding-bottom: 40px;
}

h1{
  font-family: "DomaineText",Georgia,serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  padding-top: 30px;
  padding-left: 50px;
}

h2{
  font-family: "DomaineText",Georgia,serif;
  font-weight: normal;
  font-style: normal;
}

.wsa{
  padding-top: 20px;
}

.img2{
  width:30%;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 40px;
}

.img3{
  width:30%;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 40px;
}

hr{
  width: 90%;

}

@media screen and (max-width: 480px){


  p{
    padding-left: 50px;
    padding-right: 50px;
  }


}
