body {
  background-image:url(images/computer.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;

}

.menu{

  width: 40vw;
  height: 40px;
  padding-left: 10px;
  float: none;
  margin: 30 auto;
  text-align: center;

}

.menu ul li{
  list-style: none;
  float: left;

}

.name{
  background: rgba(0,0,0,0.6);

    position: relative;
    top: 30%;
    margin-left: 25%;
    width: 50vw;
    height: 150px;
    border-radius: 5px;
    animation-duration: 2s;
    animation-name: slideInBottom;
    -webkit-animation-duration: 2s;
    -webkit-animation-name: slideInBottom;

}

.inner{

  font-family: "Futura pt";
  color: white;
  font-size: 5vw;
  position: relative;
  padding: 35px;
  padding-left: 100px;
}

.closebtn{
  display: none;
}





canvas{
  margin-top: -200px;
  width: 90%;
}

.dropdown{
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 178px;
    background-color: rgba(0,0,0,0.3);
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    float: none;

}

.menubutton{
  font-size: 50px;
  float: left;
  padding-left: 30px;
  padding-top: 20px;
  display: none;
  cursor: pointer;
}

a:hover {
    color: white;
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 1360px){

  .menubutton{
    display: block;
  }

  .closebtn{
    display: block;
    float: right;
    font-size: 40px;
  }

  .closebtn:hover{
    text-decoration: none;
  }

  .menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    margin: 0;
    left: -7;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;

  }


  li{
    padding-top: 15px;

	display:block;
	width:130px;
	text-decoration: none;
    font-size: 25px;
    color: #818181;

    text-align: center;


  }



}

.show {display:block;}

@keyframes slideInBottom {
    0%{
      top:100%;
    }
    100%{
      top:30%;
    }
}
