body {

  background-image:url(images/computer.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;

}


.closebtn{
  display: none;
}

.menubutton{
  font-size: 40px;
  float: left;
  padding-left: 30px;
  padding-top: 20px;
  display: none;
  cursor: pointer;
}

.menu{
  margin-top: 30;
}

ul{
  text-align: center;
  list-style: none;
}

li{
  margin: 0;
  display: inline-block;
}

li a{
  float: left;
  padding-right: 15px;
  color: white;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 0.05em;
  text-decoration: none;
}

li a:hover{
  text-decoration: underline;
  cursor: pointer;
}

h1{
  font-family: "Futura pt";
  color: white;
  font-size: 5vw;
  font-style: normal;
  font-weight: normal;
}

.inner{

  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);


}

.name{

  animation-duration: 2s;
  animation-name: slideInBottom;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: slideInBottom;

}

@media screen and (max-width: 480px){

  .menubutton{
    display: block;
  }

  .closebtn{
    display: block;
    float: right;
    color: #818181;
    text-decoration: none;
    font-size: 40px;
    margin-top:-20%;
    padding-right: 10px;
  }

  .closebtn:hover{
    cursor: pointer;
  }

  .menu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    margin: 0;
    left: -7;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;

  }

  ul{
    margin-top: -20%;
  }

  li a{
    display: block;
  }
  li{
    padding-top: 40px;

	display:block;
	width:130px;
	text-decoration: none;
    font-size: 25px;
    color: #818181;

    text-align: center;


  }



}
