.img1{
  padding-top: 30px;
  padding-left: 80px;
  width: 80%;
  height: 50%;
}

p{
  padding-right: 70px;
  padding-left: 70px;
  color: #443235;
  font-family: "DomaineText",Georgia,serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
}

p.last{
  padding-bottom: 40px;
}

h1{
  font-family: "DomaineText",Georgia,serif;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  padding-top: 30px;
  padding-left: 50px;
}

a{
  color: #443235;
}

@media screen and (max-width: 480px){
  .img1{
    height: 35%;
    width: 70%;
  }


}
